.navBar{
    padding: 12px 54px;
    box-shadow: 0px 5px 19px -3px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0px 5px 19px -3px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 5px 19px -3px rgba(0,0,0,0.23);
}

.navBar a{
    color: #BA0606;
    font-weight: 600;
    padding: 0%;
}

.navBar a:hover{
    color: #870404;
}

.area-logo-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    box-shadow: 0px 5px 19px -3px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0px 5px 19px -3px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 5px 19px -3px rgba(0,0,0,0.23);
}

.btn-oucaAgora{
    border: none;
    border-radius: 12px;
    background-color: #BA0606;
    color: #FFFFFF;
    font-weight: 500;
    padding: 6px 18px;
}

.btn-oucaAgora:hover{
    background-color: #870404;
}

.nav-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 0%;
    padding-right: 0%;
}

.navbar-brand{
    padding: 0%;
    margin: 0%;
}